{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}
<head>
    {{/* 字体引入 */}}
    {{/* 预加载 */}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://cn.windfonts.com" />
    {{/* Noto Serif and Sans*/}}
    <link href="https://gfonts.aby.pub/css2?family=Noto+Serif+SC:wght@400;700&display=swap" 
    rel="stylesheet"> 
    <link href="https://gfonts.aby.pub/css2?family=Noto+Sans+SC:wght@100..900&family=Noto+Serif+Hentaigana:wght@200..900&display=swap" rel="stylesheet">
    {{/* 霞鹜新致宋 wenfeng-xwxzs */}}
    <link rel="stylesheet" type="text/css" crossorigin='anonymous' href="https://cn.windfonts.com/wenfeng/fonts/xwxzs/regular/web/index.css" />
    <!-- 此中文网页字体由文风字体（Windfonts）免费提供，您可以自由引用，请务必保留此授权许可标注 https://wenfeng.org/license --> 
    {{/* 刻石录颜体 wenfeng-kslyt */}}
    <link rel="stylesheet" type="text/css" crossorigin='anonymous' href="https://cn.windfonts.com/wenfeng/fonts/kslyt/regular/web/index.css" />
    <!-- 此中文网页字体由文风字体（Windfonts）免费提供，您可以自由引用，请务必保留此授权许可标注 https://wenfeng.org/license --> 
    {{/* Maple Mono CN Light */}}
    <link rel='stylesheet' href='https://chinese-fonts-cdn.deno.dev/packages/maple-mono-cn/dist/MapleMono-CN-Light/result.css' />

</head>